.homePageBody {
    width: 60%;
    height: 100%;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-top: 50px;
    background:rgba(255,255,255, 0.2);
}

.textBody {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 20px;
}

.textItemBody {
    max-width: 60%;
    min-width: 30%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background:rgba(255,255,255, 0.1);
    padding: 10px;
}

.pageTitle {
    text-align: center;
}