.homePageBody {
    width: 100%;
    height: 100%;
    background-color: red;
}

.infoBlock {
    height: 80%;
    width: 80%;
    background-color: white;
    margin-top: auto;
    margin-bottom: auto;
}

.aboutSection, .skillsSection, .educationSection {
    display: flex;
    height: 700px;
    padding: 0;
    padding-left: 20px;
}

.educationSection {

}

.sectionTitle {
    width: 10%;
    margin: auto 0 auto 0;
}

.seperator {

    height: 200px;
    background-color: grey;
}

.textBody {
    display: flex;
    flex-wrap: wrap-reverse;
    padding: 20px;
    position: relative;
}

.textItemBody {
    max-width: 60%;
    min-width: 30%;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    background:rgba(255,255,255, 0.1);
    padding: 10px;
}

.pageTitle {
    text-align: center;
}

$bgcolor: #F2ECD3;
$transparent: rgba(255, 255, 255, 0);

$color-1: #F2F2F2;
$color-2: #C6E070;
$color-3: #91C46C;
$color-4: #287D7D;
$color-5: #1C344D;

$size: 2em;
$big-size: $size*2;
$min: $size*.2;
$max: $size*.51;

$diff: $max - $min;

.aboutSection {
  background: 
    linear-gradient(to left bottom,
      $transparent $min,
      $color-5 $min, $color-5 $max, 
      $transparent $max
      ) 0 0,
    linear-gradient(to right top,
      $transparent $min,
      $color-5 $min, $color-5 $max, 
      $transparent $max
      ) $size 0,
    
    linear-gradient(to left bottom,
      $transparent $min,
      $color-3 $min, $color-3 $max, 
      $transparent $min
      ) 0 $max,
    linear-gradient(to right top,
      $transparent $min,
      $color-3 $min, $color-3 $max, 
      $transparent $min
      ) $size $max,
    
    linear-gradient(to left bottom,
      $transparent $min,
      $color-4 $min, $color-4 $max, 
      $transparent $min
      ) 0 $max*2,
    linear-gradient(to right top,
      $transparent $min,
      $color-4 $min, $color-4 $max, 
      $transparent $min
      ) $size $max*2,
    
    linear-gradient(to left bottom,
      $transparent $min,
      $color-2 $min, $color-2 $max, 
      $transparent $min
      ) 0 $max*3,
    linear-gradient(to right top,
      $transparent $min,
      $color-2 $min, $color-2 $max, 
      $transparent $min
      ) $size $max*3,
    /* - - - - - */
    linear-gradient(to right bottom,
      $transparent $min,
      $color-2 $min, $color-2 $max, 
      $transparent $max
      ) 0 0,
    linear-gradient(to left top,
      $transparent $min,
      $color-2 $min, $color-2 $max, 
      $transparent $max
      ) $size 0,
    
    linear-gradient(to right bottom,
      $transparent $min,
      $color-5 $min, $color-5 $max, 
      $transparent $min
      ) 0 $max,
    linear-gradient(to left top,
      $transparent $min,
      $color-5 $min, $color-5 $max, 
      $transparent $min
      ) $size $max,
    
    linear-gradient(to right bottom,
      $transparent $min,
      $color-3 $min, $color-3 $max, 
      $transparent $min
      ) 0 $max*2,
    linear-gradient(to left top,
      $transparent $min,
      $color-3 $min, $color-3 $max, 
      $transparent $min
      ) $size $max*2,
    
    linear-gradient(to right bottom,
      $transparent $min,
      $color-4 $min, $color-4 $max, 
      $transparent $min
      ) 0 $max*3,
    linear-gradient(to left top,
      $transparent $min,
      $color-4 $min, $color-4 $max, 
      $transparent $min
      ) $size $max*3
    ;
  background-size:  $big-size $big-size;
  background-color: $bgcolor;
  background-repeat: repeat;
  background-attachment: fixed;
  }

  .skillsSection {
    background: radial-gradient(4rem,
        rgba(255,255,255,0) 80%, 
        #778691 80%, #778691 99%, 
        rgba(255,255,255, 0) 
        ) 0 0,
        radial-gradient(4rem,
        rgba(255,255,255,0) 80%, 
        #778691 80%, #778691 99%,  
        rgba(255,255,255, 0) 
        ) 4em 4em,
        radial-gradient(4.7rem,
        rgba(255,255,255,0) 50%, 
        #B1C2B3 50%,
        #B1C2B3 75%, #B1C2B3 99%, 
        rgba(255,255,255, 0) 
        ) 4em 4em,
        radial-gradient(4.7rem,
        rgba(255,255,255,0) 50%, 
        #B1C2B3 50%,
        #F5FCD0 75%, #B1C2B3 99%, 
        rgba(255,255,255, 0) 
        ) 0 0;
    background-size: 8rem 8rem;
    background-color: #F5FCD0;
    background-attachment: fixed;
}

.educationSection {
    background: 
        /*shape*/
        linear-gradient(115deg, transparent 89%, #e8ddcb 0) -128px -96px,
        linear-gradient(-115deg, transparent 89%, #cdb380 0) 22px -96px,
        linear-gradient(-115deg, #036564 11%, transparent 0) -128px 54px,
        linear-gradient(115deg, #033649 11%, transparent 0) 22px 54px,
        
        /*shape*/
        linear-gradient(-25deg, #e8ddcb 11%, transparent 0) -128px -22px,
        linear-gradient(25deg, transparent 89%, #cdb380 0) -128px 128px,
        linear-gradient(25deg, #036564 11%, transparent 0) 22px -22px,
        linear-gradient(-25deg, transparent 89%, #033649 0) 22px 128px,
        /*shape*/
        linear-gradient(-25deg, #e8ddcb 11%, transparent 0) -53px -96px,
        linear-gradient(25deg, transparent 89%, #cdb380 0) -53px 54px,
        linear-gradient(25deg, #036564 11%, transparent 0) 97px -96px,
        linear-gradient(-25deg, transparent 89%, #033649 0) 97px 54px,
        /*shape*/
        linear-gradient(115deg, transparent 89%, #e8ddcb  0) -53px -21px,
        linear-gradient(-115deg, #cdb380 11%, transparent 0) -53px 129px,
        linear-gradient(-115deg, transparent 89%, #036564 0) 97px -21px,
        linear-gradient(115deg, #033649 11%, transparent 0) 97px 129px;
        
    background-color: #fff;
    background-size: 150px 150px;
    background-repeat: repeat;
    background-attachment: fixed;
}